<div class="well">
  Welcome to Bloodline!
  <br>

  {{#if Bloodline.FBUser}}
  <div>
    <img {{bindAttr src="Bloodline.FBUser.picture.data.url" alt="Bloodline.FBUser.name"}} />
    {{Bloodline.FBUser.name}}
    <br>
    <a href="/" {{action "logout" target="FB"}}>Logout</a>
  </div>
  {{/if}}
</div>

