<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Bloodline! </h1>
          <h3>Know bit more about your friends</h3>
          <p>Bloodline helps you to store your blood group and know blood group of your friends so that whenever there is a need for blood donation you do not have to waste time in inquiring.</p>
          <p>If you are looking for a particular blood group, bloodline helps you to identify whom to contact.</p>
        </div>
      <div class="col-md-5">
        <div class="brand-blood-chart"></div>
      </div>
    </div>
    <p><a class="btn btn-primary btn-lg" role="button" href="#about">Learn more &raquo;</a></p>
  </div>
</div> 
 

{{!-- <h2>Page - Welcome</h2> --}}